@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Merriweather&display=swap");

body {
  background-color: (lightgreen);
  font-family: Merriweather, "Kolker Brush", serif;
}

li {
  font-size: 1em;
}

.FormInputDiv {
  background-color: lightgray;
  border-radius: 5em;
}

.TodosDiv {
  background-color: lightgray;
  border-radius: 5em;
}

.inputArea {
  width: 12em;
  border-radius: 5em;
  border-style: groove;
}

hr {
  width: 70%;
}

.done {
  text-decoration: line-through;
  color: #c2c2c2;
}

li {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.invisible {
  display: none;
}

.visible {
  display: "";
}

.footer {
  font-size: 0.5em;
}

.img {
  height: 100px;
}
